.grid-item {
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.grid-item img {
    width: 275px;
    height: 250px;
}

.grid-item div {
    background-color: gray;
    width: 275px;
}

.grid-item h1,
.grid-item p{
    font-size: 20px;
}