.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 200px;
    background-color: gray
}

.card img {
    width: 150px;
    height: 200px;
}

.card h1 {
    font-size: medium;
    text-align: left;
}

.card h2 {
    font-size: 16px;
}