.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: gray;
}

.footer img {
    background-color: black;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footer-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}